# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
*.env

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/
.venv/

# Gradio cache / temp files
gradio_cache/
